<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third has-text-centered">
      <h1 class="title has-text-weight-bold">Typing Challenge</h1>
      <p class="is-italic">
        <span *ngFor="let letter of randomText.split(''); let i = index;"
              [class]="compare(letter, enteredText[i])"
        >{{letter}}</span>
      </p>
      <div class="field">
        <input (input)="onInput($event.target.value)" class="input"/>
      </div>
      <div *ngIf="enteredText === randomText" class="box">
        <h1 class="title has-text-weight-bold">You win!</h1>
      </div>
    </div>
  </div>
</div>
